.login {
	-fx-background-color: linear-gradient(to right, rgb(230, 218, 218), rgb(39, 64, 70));
}

.login-titulo{
	-fx-font-size: 24px;
	-fx-text-fill: black;
}

.login-form-label {
	-fx-font-size: 16px;
}

.login-form-button{
	-fx-font-size: 16px;
}